.Dark {
  background-color: black;
  color: white;
}

.Light {
  background-color: #fff;
  color: black;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background-color: black;
}

.container {
  max-width: 1150px;
  padding: 0px 15px;
  margin: 0 auto;
}
